@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  min-width: screen;
  background-color: #171717;

  /* Firefox */
  scrollbar-width: none;

  /* IE and Edge */
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
